<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title></title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="{% static 'App1/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{% url 'App1:index' %}">DJANGO</a>
                </li>
                <li>
                    <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="{% url 'App1:register' %}" class="navbar-link">Register</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a class="navbar-link" href="{% url 'special' %}">Home</a>
                    </li>
                {% else %}
                    <li>
                        <a class="navbar-link" href="{% url 'App1:user_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    <div class="container">
    {% block body_block %}
        <div class="container">

        </div>
    {% endblock %}
    </div>

</body>
</html>