


{% extends 'App1/base.html' %}
    {% block body_block %}

        <div class="jumbotron">
            <h1>Login Page</h1>

            <form action="{% url 'App1:user_login' %}" method="post">
                {% csrf_token %}

                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Username...">

                <label for="password">Password: </label>
                <input type="password" name="password" id="password">

                <input type="submit" value="Login">

            </form>

        </div>


    {% endblock %}